<% set_meta_tags canonical: root_url(locale: @locale),
                 twitter: {card: 'summary_large_image'},
                 alternate: {"en" => root_url(locale: 'en'),
                             "ja" => root_url(locale: 'ja')} %>



<div id="landing-page">
  <div class="w-100 background-black">
    <div class="wrapper">


      <div class="px-4">
        <div class="w-100 d-block py-5"></div>
        <h1 class="top-heading pt-5 text-white text-center font-weight-bold mb-3">タフリンガル</h1>
        <h3 class="text-white font-weight-bold text-center my-4">東京外国語大学の現役生/卒業生による<br>オンライン英語個別指導塾</h3>
        <h5 class="text-white text-center">中学高校生の学習サポート/入試対策から大人の学び直しまで</h5>

        <div class="one-column-wrapper px-3 my-4 text-center">

          <div class="btn btn-lg btn-light-green w-100 rounded-pill modal-show-signup font-weight-bold d-none d-sm-block move-to-catalog-request">無料で資料請求</div>

        </div>
      </div>


      <!-- First START -->
      <div class="row mt-5 px-4">
        <div class="col-xl-6">
          <h1 class="top-heading pt-5 text-white text-left font-weight-bold">
            講師は全員が東京外国語大学生
          </h1>
          <div class="text-light mb-4">
            <p>講師は全員が東京外国語大学の現役学部生/院生/卒業生であり、
              TOEIC850以上/留学経験/英検一級/教職履修/翻訳経験/海外在住経験などの実績があります。</p>
          </div>

        </div>

        <div class="col-xl-6 mb-5">
          <img src="<%= "https://tuflingual.s3.ap-northeast-1.amazonaws.com/assets/lp/undraw_certificate_re_yadi.svg" %>" class="img-fluid" alt="">
        </div>
      </div>
      <!-- First END -->


      <!-- Third START -->
      <div class="row mt-5 px-4">
        <div class="col-xl-6">
          <h1 class="top-heading pt-5 text-white text-left font-weight-bold">
            全国どこからでもオンラインで高品質の個別指導を
          </h1>
          <div class="text-light mb-4">
            <p>オンラインなので自宅や学校から受講ができ、他社よりも安い授業料で質の高い授業を受けられます。</p>
            <p>中学高校生の学習サポートから大人の方の学び直しまで、授業は完全にオーダーメイドでご対応します。</p>
          </div>

        </div>

        <div class="col-xl-6 mb-5">
          <img src="<%= "https://tuflingual.s3.ap-northeast-1.amazonaws.com/assets/lp/undraw_connected_world_wuay.svg" %>" class="img-fluid" alt="">
        </div>

      </div>
      <!-- Third END -->

      <!-- Forth START -->
      <div class="row align-items-center mt-5 px-4">
        <div class="col-xl-6">
          <h1 class="top-heading pt-5 text-white text-left font-weight-bold">
            英語という言語の学習を本質からサポート
          </h1>
          <div class="text-light mb-4">
            <p>多くの人が最初に英語につまずくのは、新しい言語を学んでいるという認識が無いから。</p>
            <p>英語の学習とはどういうことなのか？それを本質的に理解してもらいます。</p>
            <p>英語科教育法・英語音声学・英文学を学んできた講師たちが、皆様の学習をサポートします。</p>
          </div>


        </div>

        <div class="col-xl-6 mb-5">
          <img src="<%= "https://tuflingual.s3.ap-northeast-1.amazonaws.com/assets/lp/undraw_teaching_re_g7e3.svg" %>" class="img-fluid" alt="">
        </div>

      </div>
      <!-- Forth END -->









      <div class="row mt-5 px-4 justify-content-md-center">
        <div class="col-xl-8">
          <h1 class="top-heading pt-5 text-white text-left font-weight-bold">
            TUFLINGUALとは
          </h1>
          <div class="text-light">
            <p>TUFLINGUAL（タフリンガル）は、2022年12月に立ち上がった東京外国語大学の学生によるオンライン塾です。</p>
            <p>東京外国語大学には数多くの英語を得意とする学生が在籍しています。</p>
            <p>東京外国語大学の学生の英語力は、世間一般の有名大学に比べてレベルが高く、実用的です。</p>
            <p>そんな東京外国語大学の学生たちが講師として在籍するオンライン塾がTUFLINGUALです。</p>
            <p>外大生の中でも選りすぐりの講師を集め、質の高い授業を提供します。</p>
            <p>世の中に溢れる個別塾や集団塾は、プロの大人の先生が担当していると思いきや、実は大半を大学生のアルバイト講師が占めています。</p>
            <p>それを保護者の方や生徒さんは知りません。</p>
            <p>中には、解答集の日本語訳を見ながら解説し、テキストを読み上げているだけの講師も。</p>
            <p>TUFLINGUALなら、講師は全員外大生。皆英語力には自信があります。</p>
            <p>オンラインなので自宅や学校から受講ができ、他社よりも安い授業料で質の高い授業を受けられます。</p>
            <p>多くの人が最初に英語につまずくのは、新しい言語を学んでいるという認識が無いから。</p>
            <p>英語の学習とはどういうことなのか？それを本質的に理解してもらいます。</p>
            <p>英語科教育法・英語音声学・英文学を学んできた講師たちが、皆様の学習をサポートします。</p>
            <p>中学高校生の学習サポートから大人の方の学び直しまで</p>
            <p>授業は完全にオーダーメイド</p>
            <p>人によって苦手な部分は様々。</p>
            <p>誰かにとって効果的だった指導が、他の人にも効果的とは限りませんよね。</p>
            <p>一人一人の苦手な部分を特定し、個別に授業を構成することで、着実に英語力を引き上げます。</p>
            <p>もし講師との相性が悪ければ交代OK</p>
            <p>他の講師と気軽に交代できます。</p>
            <p>先生との相性が悪いなと思う時、多く場合講師側も同じことを思っています。</p>
            <p>個別にお願いした家庭教師だと、相性が合わない時困りますよね。</p>
            <p>大手個別塾は学生講師のシフト調整で手一杯。講師の努力でなんとか乗り切ります。</p>
            <p>でもTUFLINGUALなら優秀な講師が他にもいます。</p>
            <p>きっと自分に合うタイプの先生を見つけられます。</p>
            <p>料金体系は至ってシンプル。</p>
            <p>スマホの回線契約を思い出してください。月のデータ量を選んで、足りなければ追加購入しますよね。</p>
            <p>オプションでSNSフリーや電話無料を加え、データ容量が余れば翌月に繰り越します。</p>
            <p>TUFLINGUALも同じです。</p>
            <p>1ヶ月の間に受講したい時間(分単位)を選択してお申し込み。足りなければ時間を追加購入します。</p>
            <p>オプションで英文添削などのプランに申し込めます。</p>
            <p>余った授業時間は翌月まで繰越できて、月の授業時間は前月末に変更が可能です。</p>
            <p>とってもシンプルです。</p>
            <p>ぜひ一度TUFLINGUAL覗いてみませんか？</p>
          </div>


        </div>
      </div>


      <div class="w-100 d-block py-5"></div>
      <div class="px-3">
        <h1 class="top-heading pt-5 text-white text-center font-weight-bold" id="catalog-request">資料請求はこちらから</h1>

        <p class="text-white">ご興味をお持ちの方、入塾ご検討中、資料をお求めの方は以下のフォームにご回答ください。数日以内に担当の者からご連絡差し上げます。</p>

        <div class="my-5">

          <div class="row justify-content-md-center">

            <div class="col-md-6">
              <%= form_with url: inquiry_path, method: :get, local: true do |f| %>
                <%= f.label :name, "#{t 'static_pages.name'}", class: "text-left small text-white" %>
                <%= f.text_field :name, class: "form-control mb-4", placeholder: 'お名前をご入力ください。', required: true %>

                <%= f.label :email, "#{t 'static_pages.email'}", class: "text-left small text-white" %>
                <%= f.email_field :email, class: "form-control mb-4", placeholder: 'メールアドレスをご入力ください。', required: true %>

                <%= f.label :phone, "電話番号", class: "text-left small text-white" %>
                <%= f.text_field :phone, class: "form-control mb-4", placeholder: '電話番号をご入力ください。', required: true %>

                <%= f.label :inquiry, "お問い合わせ内容", class: "text-left small text-white" %>
                <%= f.select :inquiry, [['資料請求/お問い合わせ', '資料請求/お問い合わせ'], ['入塾お申し込み', '入塾お申し込み'], ['体験授業のお申し込み', '体験授業のお申し込み'],
                                        ['無料相談ご希望', '無料相談ご希望'],], {}, { class: 'form-control mb-4' } %>

                <%= f.label :message, "メッセージ", class: "text-left small text-white" %>
                <%= f.text_area :message, class: "form-control mb-4", placeholder: '任意', rows: 4 %>


                <%= f.submit "申し込む", class: "btn btn-lg btn-light-green w-100 rounded-pill modal-show-signup font-weight-bold mt-4", data: { disable_with: '送信中...' } %>

              <% end %>
            </div>
          </div>
        </div>
      </div>



      <div class="w-100 d-block py-5"></div>
      <div class="w-100 d-block py-5"></div>
      <div class="w-100 d-block py-5"></div>
      <div class="w-100 d-block py-5"></div>
      <div class="w-100 d-block py-5"></div>


    </div>

  </div>
</div>