<div class="px-4" id="company-page">
  <div class="w-100 d-block py-5"></div>
  <!--
  <h1 class="top-heading pt-5 text-white text-center mb-3 fw-bold"> <#%= t('layouts.company') %></h1>
  -->
</div>

<div class="row mt-5 px-4 justify-content-md-center">
  <div class="col-xl-8">
    <h1 class="top-heading pt-5 text-white text-left">
      <%= t('layouts.company') %>
    </h1>

    <table class="table background-black no-top-border">
      <tbody>
      <tr class="">
        <th scope="row"><%= t('static_pages.company') %></th>
        <td><%= t('shared.company.name') %></td>
      </tr>
      <tr>
        <th scope="row"><%= t('static_pages.address') %></th>
        <td><%= t('shared.company.address') %></td>
      </tr>
      <tr>
        <th scope="row"><%= t('static_pages.ceo') %></th>
        <td><%= t('static_pages.ceo_name') %></td>
      </tr>
      <tr>
        <th scope="row"><%= t('static_pages.email') %></th>
        <td><%= t('shared.company.email') %></td>
      </tr>
      <tr>
        <th scope="row"><%= t('static_pages.phone') %></th>
        <td><%= t('shared.company.phone') %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row mt-5 px-4 justify-content-md-center">
  <div class="col-xl-8">
    <div class="row">
      <div class="mt-5 col-xl-2 col-5">
        <img src="<%= "https://cdn.startupleague.jp/ict/2305/image/profile.jpg" %>" class="img-fluid pe-3 rounded-circle" alt="">
      </div>
      <div class="col-xl-10">
        <h3 class="text-white text-left">
          <%= t('static_pages.ceo_name') %>
        </h3>
        <div class="text-light">
          <p>高校在学中に週刊少年ジャンプで<a href="https://ja.wikipedia.org/wiki/%E3%82%B9%E3%83%88%E3%82%AD%E3%83%B3%E7%82%8E#:~:text=%E5%8F%97%E8%B3%9E%E4%B8%80%E8%A6%A7,-%E5%9B%9E&text=%E3%83%BB%E7%82%8E%E5%8A%AA%E5%8A%9B%E8%B3%9E%20%2D%20%E9%99%BD%E5%9C%B0,%E5%B2%A1%E6%9C%AC%E5%81%A5%E5%A4%AA%E9%83%8E%E3%80%8CMerry%20Crisis!%E3%80%8D&text=%E3%83%BB%E6%BA%96%E3%80%85%E3%83%97%E3%83%AA%E3%83%B3%E3%82%B9%20%2D%20%E6%A1%91%E9%87%8E%E5%9C%AD%E8%BC%9D,%E7%9B%B8%E5%B7%9D%E7%9C%9F%E5%8F%B8%E3%80%8C%E3%83%90%E3%83%83%E3%83%89%E3%82%A8%E3%83%B3%E3%83%89%E3%82%AF%E3%83%A9%E3%83%83%E3%82%B7%E3%83%A5!!%E3%80%8D" target='_blank' rel="noopener" class="link-light">漫画賞</a>を受賞。
            卒業後、業務用システムの開発を請け負う株式会社ティーワイシーに就職。
            2019年に株式会社BooQs設立し、自身がエンジニアとして英語の技術ドキュメントと格闘する中で痛感した英語の語彙習得と忘却の課題を解決するために「忘れない辞書＆単語帳アプリ」としてDiQt（ディクト）を開発し、Web版・モバイルアプリ版・Chrome拡張版をリリースする。2022年度総務省主催異能vationプログラム「ジェネレーションアワード」ノミネート。</p>
        </div>

        <div class="d-flex flex-row mb-3">
          <%= link_to 'https://note.com/kawanjin01',
                      class: 'btn btn-outline-light btn-sm mt-3', target: '_blank', rel: 'noopener' do %>
            Note <i class="far fa-external-link ms-2"></i>
          <% end %>

          <%= link_to 'https://twitter.com/kawanji01',
                      class: 'btn btn-outline-light btn-sm mt-3 ms-3', target: '_blank', rel: 'noopener' do %>
            X <i class="far fa-external-link ms-2"></i>
          <% end %>

          <%= link_to 'https://www.facebook.com/kawanji01',
                      class: 'btn btn-outline-light btn-sm mt-3 ms-3', target: '_blank', rel: 'noopener' do %>
            Facebook <i class="far fa-external-link ms-2"></i>
          <% end %>

          <%= link_to 'https://github.com/kawanji01',
                      class: 'btn btn-outline-light btn-sm mt-3 ms-3', target: '_blank', rel: 'noopener' do %>
            GitHub <i class="far fa-external-link ms-2"></i>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="row mt-5 px-4 justify-content-md-center">
  <div class="col-xl-8">
    <h3 class="pt-5 text-white text-left">
      <%= t('lp.history') %>
    </h3>
    <div class="text-light mt-4">
      <p>・2019年2月19日創業</p>
      <p>・2022年総務省主催異能ベーションプログラム「ジェネレーションアワード」ノミネート</p>
      <p>・2023年Microsoft for Startupプログラムに採択</p>
      <p>・2023年総務省の主催するICTスタートアップリーグプログラムに採択</p>
    </div>
  </div>
</div>