<div class="px-4">
  <div class="w-100 d-block py-5"></div>
  <h1 class="top-heading pt-5 text-white text-center mb-3 fw-bold" id="home-page"><%= t('shared.company.name') %></h1>
</div>

<div class="w-100 d-block py-5"></div>
<!-- First START -->
<div class="row mt-5 px-4">
  <div class="col-xl-6">
    <h1 class="top-heading pt-5 text-white text-left lh-base">
      <%= t('lp.first_title_html') %>
    </h1>
    <div class="text-light mb-4">
      <%= t('lp.first_description_html') %>
    </div>

    <%= link_to 'https://note.com/kawanjin01', target: '_blank', rel: 'noopener' do %>
      <div class="btn btn btn-success rounded-pill fw-bold w-100 my-5">
        <%= t('lp.blog') %>
      </div>
    <% end %>
  </div>

  <div class="col-xl-6 mb-5">
    <img src="<%= "https://tuflingual.s3.ap-northeast-1.amazonaws.com/assets/lp/undraw_connected_world_wuay.svg" %>" class="img-fluid" alt="">
  </div>
</div>
